{% if course.pk is 1 %}
<h1><a href="https://www.edureka.co/data-science-python-certification-course?matchtype=e&msclkid=cd5f3886e7b21b4b7f42666e8177c443&utm_source=bing&utm_medium=cpc&utm_campaign=Brand-Course-Search-India-BMM&utm_term=edureka%20python&utm_content=Python%20Brand"></a> </h1>
<h2>{{course.instname}}</h2>
{% elif course.pk is 2 %}
<h1><a href="https://www.edureka.co/java-j2ee-training-course?matchtype=e&msclkid=cb577c5984bb15b24f1022b1e3399c32&utm_source=bing&utm_medium=cpc&utm_campaign=Brand-Course-Search-India-BMM&utm_term=edureka%20java&utm_content=Java-Brand"></a> </h1>
<h2>{{course.instname}}</h2>
{% else %}
<h1>{{course.coursename}}</h1>
<h2>{{course.instname}}</h2>
{{course.coursename}}
{% endif %}