{% load static %}
<html>
<head>
    <title>Django blog</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">-->
    <link href="{% static 'css/base.css' %}" rel="stylesheet"> <!--for css file, write your css file name -->
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<body>
<div class="page-header">
        <h1><a href="{% url 'home' %}">Blog Posts By Shreya Lal</a></h1>
</div>
<div>
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>